/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px "Lato", sans-serif; background:#fff; color:#2f4050; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea, header, nav, section, article, aside, footer, main {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
p{ color: #2d2d2d}
header, nav, section, article, aside, footer, main {
    display: block;
    width: 100%;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px "Lato", sans-serif; color:#000; text-decoration:none; }
a:hover                        { text-decoration:none;
                                -webkit-transition-duration: 0.2s;
                                -moz-transition-duration: 0.2s;
                                -ms-transition-duration: 0.2s;
                                -o-transition-duration: 0.2s;
                                transition-duration: 0.2s;}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r                       { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.text-white                    { color: #fff !important; }
.clear                         { clear:both; }

.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
input::-webkit-input-placeholder {color:#b5b7bf; }
input::-moz-placeholder          {color:#b5b7bf; }
input:-moz-placeholder           {color:#b5b7bf; }
input:-ms-input-placeholder      {color:#b5b7bf; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper{
    min-height: 100%;
}
.wrapper:after{
    content: "";
    display: block;
    height: 262px;
    margin-bottom: -262px;
}
.container{
	width: 1110px;
	margin: 0 auto;
	padding: 24px 30px 22px;
	overflow: hidden;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header{
    position: fixed;
    background: #2f4050;
    z-index: 500;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.home .header{
    background: transparent;
}

.main-logo{
	float: left;
	width: 158px;
	height: 33px;
	overflow: hidden;
}

.main-nav{
	overflow: hidden;
	text-align: center;
	padding: 6px 0 0;
}
.main-nav li{
	display: inline-table;
	margin: 0 29px 0 23px;
	padding: 0 0 6px;
}
.main-nav a{
	color: #fff;
	font-size: 16px;
}
.main-nav li:hover,
.main-nav li.active{
	border-bottom: 1px solid #fcb539;
}
.main-nav a:hover,
.main-nav li.active a{
	color: #fcb539;
}

.autorization{
	float: right;
}
.autorization ul{
	border:1px solid #fff;
	border-radius: 5px;
    padding: 6px 21px 8px;
	margin: 0 5px 0 0;
}
.autorization li{
	display: inline-block;
	color:#fff;
	border-right: 1px solid #63707c;
	padding-right: 9px;
}
.autorization li:last-child{
	border: none;
	padding-right: 0;
    padding-left: 6px;
}
.autorization a{
	color: #fff;
	font-size: 16px;
}
.autorization a:hover{
	color: #fcb539;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*-------------------------------------HOME-----------------------------------------*/
.jumbutron{
    background: url(../img/content/banner.jpg);
    background-size: cover;
    text-align: center;
    height: 663px;
    overflow: hidden;
}
.jumbutron h1{
    padding: 163px 0 0;
    font: bold 80px "Lato";
    color: #fcb539;
    margin: 0 0 18px;
}
.jumbutron p{
    font: 300 26px "Lato";
    color: #fff;
    margin: 0 0 77px;
}
.home-head-btn{
    text-align: center;
}
.home-head-btn li{
    overflow: hidden;
    display: inline-table;
    margin: 0 11px;
    border-radius: 6px;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.btn{
    position: relative;
    display: inline-block;
    border-radius: 6px;
    padding: 15px 40px;
    border: 1px solid #fff;
}
.home-head-btn a{
    display: block;
    font: 600 20px "Lato";
    padding: 15px 40px;
}
.home-head-btn li:hover{
    background: #fcb539;
    border-color: #fcb539;
}
.home-head-btn .more-btn{
    position: relative;
    top: -2px;
}
.home-head-btn .more-btn a{
    padding: 17px 25px 16px;
    font-size: 17px;
}
.content .partners{
    padding: 68px 0 50px;
    border-bottom: 1px solid #e2e2e2;
}
.partner-list {
    text-align: center;
}
.partner-list li{
    display: inline-block;
    margin: 0 24px;
    position: relative;
    height: 82px;
}
.drive{top: -2px;}
.gcal{top: -4px;}
.box-partner{top: -3px;}
.slack{top: -3px;}
.office365{top: 5px;}
.dropbox{top: 6px;}
.zendesk{top: -2px;}
.sharepoint{top: 10px;}
.confluence{top: 11px;}
.jira{top: -3px;}
.exchange{top: 7px;}
.salesforce{top: -12px;}
.content > section{
    padding: 90px 0 0;
}
.boxes-wrap{
    overflow: hidden;
}
.box{
    position: relative;
    float: left;
    width: 266px;
    height: 425px;
    padding: 0 40px 50px 40px;
    overflow: hidden;
    text-align: center;
}
.box img{
    position: relative;
    margin: 0 0 36px;
}
.content h3{
    font: 25px/1.5 "Lato";
    color: #2d2d2d;
    margin: 0 0 30px;
}
.box p {
    font: 300 18px/1.7 "Lato";
    margin: 0 0 50px;
}
.box .btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font: bold 14px "Lato";
    background: #fcb539;
}
.box .request-btn{
    padding: 10px 30px;
}
.box .more-btn{
    padding: 10px 49px;
}
.box .try-btn{
    padding: 10px 44px 10px 50px;
}

section.advantages{
    padding: 76px 0 109px;
}
.advantages h3{
    margin-bottom: 18px;
}
.advantages .box-wrap{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.advantages .box{
    float: none;
    display: table-cell;
    padding-bottom: 46px;
}
.advantages img{
    margin-bottom: 50px;
}
.advantages .powerful-search{
    top: 11px;
}
.advantages .mobile-workforce{
    top: 6px;
}

section.testimonial{
    position: relative;
    padding: 0;
    background: #203241;
    color: #ffffff;
}
.testimonial:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: 100%;
    width: 50%;
    background: url("../img/content/browser.png") no-repeat left bottom;
}
.testimonial .container{
    padding-top: 0;
    padding-bottom: 106px;
}

.testimonial .big-box:first-child{
    position: relative;
    z-index: 1;
    height: auto;
    padding: 160px 0 0;
    margin-left: 0;
    text-align: left;
}
.testimonial p{
    margin-bottom: 36px;
    font: 400 20px/1.5 Lato;
    color: #ffffff;
}

.author-box{
    overflow: hidden;
    margin-bottom: 46px;
}
.author-box p{
    overflow: hidden;
    font: 300 18px/1.5 Lato;
    font-style: italic;
    color: #ffffff;
}
.author-name{
    display: block;
    padding-top: 11px;
    margin-bottom: 1px;
    font: 400 22px/1.5 Lato;
    font-style: italic;
}
.author-img{
    overflow: hidden;
    float: left;
    height: 84px;
    width: 84px;
    padding: 1px;
    margin-right: 19px;
    border-radius: 45px;
    border: 1px solid #F3B039;
    text-align: center;
}
.author-img img{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}
a.btn-dwnld{
    display: inline-block;
    min-width: 213px;
    padding: 15px 10px;
    font: 400 16px Helvetica, Lato;
    border: 1px solid #63707A;
    border-radius: 4px;
    text-align: center;
    color: #fcb539;
}
a.btn-dwnld:hover{
    background: #fcb539;
    border-color: #fcb539;
    color: #ffffff;
}

section.resourses{
    padding: 85px 0 123px;
    text-align: center;
}
.content .platform-info{
    background: #203241;
    color: #fff;
    text-align: center;
    padding: 65px 0 123px;
}
.platform-info h2{
    padding: 0 0 77px;
    color: #fff;
}
.platform-info .section-content{
    border-left: 1px solid #fcb539;
    padding: 0 0 0 32px;
    margin: 0 0 0 212px;
}
.platform-info p{
    margin: 0 0 18px;
    text-align: left;
    font: 16px/29px "Lato";
    width: 660px;
    color: #fff;
}
section h2{
    font: 35px "Lato";
    color: #2f4050;
    text-transform: uppercase;
}
.big-box{
    width: 400px;
    padding: 0 70px 92px;
    margin: 0 0 0 30px;
}
.big-box img{
    height: auto;
}
.big-box .btn{
    padding: 12px 30px;
}
.big-box:first-child{
    margin: 0 30px 0 -30px;
}
.resourses h2{
    margin: 0 0 86px;
}
.resourses h3{
    margin-bottom: 25px;
}
.resourses img{
    margin-bottom: 34px;
}
.resourses .big-box{
    padding-bottom: 115px;
}
.content .offers{
    padding-top: 55px;
    text-align: center;
}
.offers .heading{
    padding: 0 0 6px;
}
.offers .box{
    width: 346px;
    height: 115px;
    padding: 0 12px 102px;
}
.offers .top-section h3{
    font:700 40px "Lato";
    color: #2f4050;
    margin: 0 0 15px;
}
.offers .top-section p{
    font-weight: 400;
    font-size: 16px;
}
.offers .search{
    background: url(../img/content/arr/arr1.png) 179px 115px no-repeat;
}
.offers .discovery{
    background: url(../img/content/arr/arr2.png) 179px 112px no-repeat;
}
.offers .integration{
    background: url(../img/content/arr/arr3.png) 80px 112px no-repeat;
}
.offers .heading img{
    margin:0 0 15px;
}
.offers .heading p{
    width: 290px;
    margin: 0 auto;
    font: 700 17px/22px "Lato";
}
.offers .section-bottom{
    overflow: hidden;
    padding-bottom: 97px;
}
.offers .section-bottom > div{
    position: relative;
    width: 275px;
    float: left;
    height: 280px
}
.offers .section-bottom .btn{
    padding: 12px 20px;
    background: #fcb539;
    font-size: 16px;
}
.arr-bottom-section{
    height: 85px;
    position: relative;
}
.offers .arr{
    position: absolute;
    top: 25px;
    display: inline-block;
}
.offers .mobile-arr{
    left: 206px;
    background: url(../img/content/arr/arr4.png) no-repeat;
    width: 130px;
    height: 85px;
}
.offers .web-app-arr{
    left: 449px;
    background: url(../img/content/arr/arr5.png) no-repeat;
    width: 50px;
    height: 83px;
}
.offers .zendesk-arr{
    right: 349px;
    background: url(../img/content/arr/arr6.png) no-repeat;
    width: 130px;
    height: 85px;
}
.offers .service-cloud-arr{
    right: 175px;
    background: url(../img/content/arr/arr7.png) no-repeat;
    width: 130px;
    height: 85px;
}
.offers .icon-wrap{
    width: 100%;
    height: 130px;
    margin: 0 0 32px;
    cursor: pointer;
}
.offers .icon{
    position: relative;
    display: inline-block;
    background: url(../img/content/spritesheet.png) no-repeat;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.icon-wrap .mobile{
    height: 105px;
    width: 56px;
    background-position: -5px -7px;
}
.icon-wrap .zendesk{
    height: 37px;
    width: 159px;
    background-position: -4px -251px;
}
.icon-wrap .service-cloud{
    top: 71px;
    height: 88px;
    width: 125px;
    background-position: -160px -104px;
}
.icon-wrap .web-app{
    height: 82px;
    width: 144px;
    background-position: -5px -129px;
}
.offers .inner-block{
    opacity: 0;
    transition: .5s;
}
.offers .active .inner-block{
    opacity: 1;
    transition: .5s;
}

.active .icon-wrap .mobile{
    background-position: -84px -7px;
}
.active .icon-wrap .zendesk{
    background-position: -3px -214px;
}
.active .icon-wrap .service-cloud{
    background-position: -182px -200px;
}
.active .icon-wrap .web-app{
    background-position: -160px -9px;;
}
.arr-bottom-section .mobile-arr.active{
    background: url(../img/content/arr/arr4h.png) no-repeat;
}
.arr-bottom-section .web-app-arr.active{
    left: 453px;
    background: url(../img/content/arr/arr5h.png) no-repeat;
}
.arr-bottom-section .zendesk-arr.active{
    background: url(../img/content/arr/arr6h.png) no-repeat;
}
.arr-bottom-section .service-cloud-arr.active{
    right: 172px;
    background: url(../img/content/arr/arr7h.png) no-repeat;
}
.offers h4{
    font: 700 25px "Lato";
    color: #2d2d2d;
    overflow: hidden;
    margin: 0 0 27px;
}
/*----------------------------------------------------------------------------------*/
.txt-tpl p{
    color: #2f4050;
}
.txt-tpl .content{
    padding: 101px 0 134px;
    width: 100%;
    max-width: 1110px;
}
.txt-tpl .content ul > li{
    position: relative;
    padding: 0 0 0 33px;
    background: url(../img/content/dote.png) 6px 6px no-repeat;
}
.txt-tpl .post ol > li{
    margin: 0 0 4px;
}
.txt-tpl h2{
    font: 700 36px Lato, sans-serif;
    text-transform: uppercase;
    padding: 0 0 38px;
}
.txt-tpl .post{
    overflow: hidden;
    margin: 0 0 70px;
    font-size: 18px;
    background: url("../img/content/line.png") center bottom no-repeat;
    line-height: 1.7;
}
.dynamic-data-block{
    padding: 97px 0 108px;
}
.content-recomend-block{
    padding: 30px 0 118px;
}
.modern-enterprises-block{
    padding: 37px 0 125px
}
.security-block{
    padding: 40px 0 133px;
}
.txt-tpl .post-content{
    width: 620px;
    float: left;
}
.txt-tpl .post-content ol{
    margin: 0 0 15px;
}
.txt-tpl .post-content li{
    margin: 0 0 18px;
}
.txt-tpl .post-icon{
    width: 490px;
    float: right;
    text-align: center;
}
.txt-tpl .post:nth-child(even) .post-icon{
    float: left;
}
.txt-tpl .post img{
    display: inline-block;
}
.txt-tpl .icon-indent{
    position: relative;
    top: 60px;
}
.txt-tpl .btn{
    display: inline-block;
    background: #fcb539;
    color: #fff;
    padding: 20px 62px 19px 63px;
    font-size: 20px;
}
/*-------------------------------------REQUEST a demo-------------------------------*/
.request-page{
    background: #F7F8F8;
}
.request-page.sent{
    background: #ffffff;
}
.request-page .jumbutron{
    text-align: center;
    background: transparent;
    padding: 133px 0 137px;
    height: 400px;
}
.request-page .jumbutron img{
    margin: 0 0 48px;
}
.request-page .jumbutron h1{
    font: 400 36px/1.5 "Lato";
    color: #2c2c2c;
    padding: 5px;
    margin-bottom: 33px;
}
.request-page .jumbutron p{
    width: 515px;
    color: #282828;
    margin: 0 auto;
    font: 400 20px/23px "Lato";
}
.request-page .stage-1{
    padding-bottom: 90px;
}
.form-section fieldset ul{
    text-align: center;
}
.form-section fieldset li{
    display: inline-block;
    margin-left: 27px;
    text-align: center;
}
.form-section fieldset li:first-of-type{
    margin-left: 0;
}
.form-section input,
.form-section select,
.form-section textarea{
    padding: 0 18px;
    border-radius: 3px;
    height: 52px;
    width: 216px;
    border: 1px solid #d6d6d6;
    margin: 0;
    display: inline-block;
    color: #2f4050;
    font: 400 16px/16px Lato;
}
.form-section .btn{
    height: 54px;
    width: 254px;
    background: #fcb539;
    text-transform: uppercase;
    font:600 18px 'Lato';
    border-right: 3px;
    padding: 0 10px;
    border: none;
    cursor: pointer;
}
.form-section .btn:focus{
    border: none;
}
.request-page .content > section{
    padding: 0;
}
.form-section .stage-2 ul{
    padding: 118px 0 62px;
    width: 350px;
    margin: 0 auto;
}
.form-section .stage-2 li{
    margin-left: 0;
    margin-bottom: 22px;
}
.form-section .stage-2 .last{
    margin-top: 31px;
}
.form-section .stage-2 input,
.form-section .stage-2 select,
.form-section .stage-2 textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 350px;
    padding: 0 20px;
}
.form-section .stage-2 textarea{
    height: 156px;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
    line-height: 19px;
}
.form-section .stage-2 input[type="number"]{
    padding-right: 0;
}
.form-section label {
    display: block;
    font-size: 16px;
    color: #b5b7bf;
    padding: 0 0 13px;
    text-align: left;
}
.form-section .stage-2 .btn{
    width: 161px;
}
.form-section input:focus,
.form-section textarea:focus,
.form-section select:focus{
    border: 1px solid #fcb539;
}

/*Multis-select styles*/
.dropdown dd {
    position:relative;
}
.dropdown a, 
.dropdown a:visited {
    color:#b5b7bf;
    font-size: 16px;
}
.dropdown .multisel{
    padding: 20px;
    width: 405px;
    overflow: hidden;
}
.dropdown dt a {
    background: #fff;
    display: block;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    padding: 15px 20px 15px 10px;
    overflow: hidden;
    width: 318px;
    text-align: left;
}
.multiSelect{
    width: 350px;
}
.dropdown .carret{
    background: url(../img/content/carret.png) no-repeat 312px 23px;
}
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 8px;
}
.form-section .dropdown dd ul {
    background: #fff;
    display:none;
    position:absolute;
    top:8px;
    width:307px;
    border: 1px solid #D6D6D6;
    overflow: auto;
    z-index: 100;
    padding: 0;
    width: 100%;
}
.form-section .dropdown ul>li{
    display: block;
    text-align: left;
    height: auto;
    padding: 21px 15px;
    border-bottom: 1px solid #D6D6D6;
    margin: 0;
}
.dropdown ul>li:last-child{
    border:none;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:transparent;
}
.dropdown input[type="checkbox"],
.dropdown label{
    width: auto;
    display: inline-block;
}
.dropdown label{
    padding:  0  0 0 21px;
}
/*-----------------------------------*/
/*custom check box*/
.checkbox{
  font-size:15px;
  position:relative;
}
.checkbox label{
   position:relative;
   padding-left:30px;
}
.checkbox label:before{
    color:#fcb539;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 15px;
    background:none;
    border:2px solid;
    border-radius:3px; 
}
.checkbox label:after{
    border-bottom: 2px solid #fcb539;
    border-right: 2px solid #fcb539;
    content: "";
    height: 11px;
    left: 6px;
    position: absolute;
    top: 3px;
    width: 4px;
    transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.checkbox input[type="checkbox"]{
    cursor: pointer; 
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.checkbox input[type="checkbox"]:hover + label:after{ 
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    border-color:#fcb539;
}
.checkbox input[type="checkbox"]:checked + label:after, 
.checkbox input[type="checkbox"]:checked + label:before{
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.checkbox label:after{
  width:6px;
  height:15px;
  top:-3px;
  left:8px
}
.checkbox input[type="checkbox"]:checked + label:before,  
.checkbox input[type="checkbox"]:checked + label:after{
    background:none;
    border-color:#fcb539;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer{
    overflow: hidden;
    background: #2f4050;
    color: #ffffff;
}
.footer p{
    color: #ffffff;
}
.footer-top{
    padding: 18px 0 15px;
}
.footer-logo{
    float: left;
    width: 158px;
    height: 33px;
    overflow: hidden;
    padding: 4px 110px 0 0;
}
.footer-top h3{
    margin-bottom: 13px;
    font: 700 16px Lato, sans-serif;
    color: #ffffff;
}
.footer-col{
    overflow: hidden;
    display: inline-table;
    padding-right: 30px;
}
.footer-col.col-adds{
    min-width: 225px;
}
.footer-col.col-contacts{
    min-width: 185px;
}
.footer-col,
.footer-col a{
    font: 300 14px/23px Lato, sans-serif;
    color: #ffffff;
}
.footer-col a:hover{
    color: #fcb539;
}
.footer-bottom{
    background: #203142;
}
.copy{
    float: left;
    padding-top: 4px;
    margin-right: 10px;
    font: 300 16px Lato;
}
.footer p{
    color: #fff;
}

.social-list{
    float: right;
}
.social-list li{
    float: left;
    overflow: hidden;
    width: 36px;
    height: 36px;
    margin-left: 11px;
    background: #fcb539;
    text-align: center;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.social-list li:hover{
    opacity: 0.8;
}
.social-list a{
    display: block;
}
.social-list .fa{
    font-size: 20px;
    line-height: 36px;
    color: #203142;
}

.footer-nav{
    padding-top: 4px;
    text-align: center;
}
.footer-nav li{
    display: inline-table;
    margin: 0 22px;
}
.footer-nav a{
    font: 700 16px Lato;
    color: #ffffff;
}
.footer-nav a:hover,
.footer-nav li.active a{
    color: #fcb539;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.mar-bot-14{
    margin-bottom: 14px;
}
