/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px "Lato Regular", sans-serif; background:#fff; color:#2f4050; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea, header, nav, section, article, aside, footer, main {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
header, nav, section, article, aside, footer, main {
	display: block;
	width: 100%;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px "Lato Regular", sans-serif; color:#000; text-decoration:none; transition: 0.3s; }
a:hover                        { text-decoration:none; transition: 0.2s;}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 24px 30px 22px;
	overflow: hidden;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.navbar{
	position: fixed;
	background: #2f4050;
	z-index: 500;
}

.main-logo{
	float: left;
	width: 158px;
	height: 33px;
	overflow: hidden;
}

.main-nav{
	overflow: hidden;
	text-align: center;
	padding: 9px 0 0;
}

.main-nav li{
	display: inline-block;
	margin: 0 27px 0 22px;
	padding: 0 0 6px;
}

.main-nav a{
	color: #fff;
	font-size: 16px;
}

.main-nav li:hover{
	border-bottom: 1px solid #fcb539;
}

.main-nav a:hover{
	color: #fcb539;
}

.autorization{
	float: right;
}

.autorization ul{
	border:1px solid #fff;
	border-radius: 4px;
	padding: 8px 10px;
	margin: 0 65px 0 0;
}

.autorization li{
	display: inline-block;
	color:#fff;
	border-right: 1px solid #63707c;
	padding: 0px 7px 0px 11px;
}
.autorization li:last-child{
	border: none;
	padding-right: 0;
}

.autorization a{
	color: #fff;
	font-size: 16px;
}

.autorization a:hover{
	color: #fcb539;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content{
	padding: 101px 0 135px;
}

.content ul > li{
	position: relative;
	padding: 0 0 0 30px;
	background: url(../img/content/dote.png) 6px 6px no-repeat;
}

.txt-tpl .post ol > li{
	margin: 0 0 4px;
}

.txt-tpl h2{
	font:36px "Lato Bold", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 43px;
}

.txt-tpl .post{
	overflow: hidden;
    margin: 0 0 70px;
	font-size: 18px;
	background: url("../img/content/line.png") center bottom no-repeat;
	line-height: 1.6;
 }

 .dynamic-data-block{
 	padding: 97px 0 108px;
 }

 .content-recomend-block{
 	padding: 30px 0 118px;
 }

 .modern-enterprises-block{
	padding: 37px 0 125px
 }

 .security-block{
 	padding: 40px 0 133px;
 }

.txt-tpl .post-content{
	width: 620px;
	float: left;
}

.txt-tpl .post-content ol{
	margin: 0 0 15px;
}

.txt-tpl .post-content li{
	margin: 0 0 18px;
}

.txt-tpl .post-icon{
	width: 490px;
	float: right;
	text-align: center;
}

.txt-tpl .post:nth-child(even) .post-icon{
	float: left;
}

.txt-tpl .post img{
	display: inline-block;
}

.icon-indent{
	position: relative;
	top: 60px;
}

a.btn{
	position: relative; 
	display: inline-block;
	border-radius: 4px;
	background: #fcb539;
	color: #fff;
    padding: 20px 62px 19px 63px;
	font-size: 20px;
}


/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/